*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}


 /* CSS CABEÇALHO Começo */


.container_pai{
    display: flex;  
    flex-direction: row;
    background-color: lightgray;
    height: 100px;
    color: white;
    justify-content: center;
    align-items: center;
}

.cont1, .cont2, .cont3, .cont4, .cont5{
    display: flex;
    padding: 5px;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}


.cont1:hover, .cont2:hover, .cont3:hover, .cont4:hover, .cont5:hover{
    display: flex;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(16, 92, 255);
    font-size: large;
}

 /* CSS CABEÇALHO Fim */

 /* CSS CORPO DO E-MAIL Começo */


h1{
    text-align: center;
}

#pai1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pai2{
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    margin-right: 45%;
}

#filha1{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    margin-bottom: 0.2rem;
}

#filha2{
    text-align: center;
    display: flex;
    flex-direction: column;
}

#filha2 label{
    font-size: 1.0rem;
    font-family: Impact, sans-serif;
}

#filha1 label{
    font-size: 1.0rem;
    font-family: Impact, sans-serif;
}



  /* CSS CORPO DO E-MAIL Fim */



    /* CSS BOTAO CAD */
    
.botaocad {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 2.00rem;
    border-radius: 50px;    
}

.botaocad input {
    font-size: large;
    margin-top: 2.5px;
    background-color:  rgb(16, 92, 255);
    padding: 0.65rem;
    border-radius: 5px;
    cursor: pointer;
}




    /* CSS DROPDOWN */



.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-button {
    background-color: inherit;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-button:hover {
    background-color: inherit;
    color: rgb(16, 92, 255);
    font-size: large;
    padding: 10px;
    border: none;
    cursor: pointer;
}

    
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}
 
.dropdown-menu li {
    padding: 10px;
}
    
.dropdown-menu li:hover {
    color: rgb(16, 92, 255);
    font-size: large;
}
    
.dropdown:hover .dropdown-menu {
    display: block;
}

/* CSS PÁGINA HOME Começo */

.home1{
    padding: 0;
    display: flex;    
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
   
}

.cadPatrimonio{
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 25px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: lightgray;
    text-align: center;
}

.cadUsuario{
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: lightgray;
    text-align: center;
}

.cadFiliais{  
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: lightgray;
    text-align: center;
}

.cadFuncionarios{
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: lightgray;
    text-align: center;
}

.home2{
    padding: 0;
    display: flex;    
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;  
}


.monitorar{
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: lightgray;
    text-align: center;
}

.btnHome{
    background-color: blue;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    border: none;    
}

.btnHome:hover{
    background-color: #008000;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    border: none

}

